[General]
mode = User

[ARP protection]
active = True
check_arptable_on_start = True
save_evidences = True
check_arp_spam_each = 60
check_arp_spam_max_packets = 10

[DHCP protection]
active = True
packets_max_age = 60
save_evidences = True
check_dhcp_dos_each = 2
check_dhcp_dos_max_packets = 10

[LLMNR protection]
active = True
packets_max_age = 60
save_evidences = True