[General]
mode = User

[ARP protection]
active = True
check_arptable_on_start = True
save_evidences = True
check_arp_spam_each = 60
check_arp_spam_max_packets = 10

[DHCP protection]
active = True
keep_packets_cache = 60
save_evidences = True
check_dhcp_dos_each = 30
check_dhcp_dos_max_packets = 50

[LLMNR protection]
active = True
save_evidences = True

[WPAD protection]
active = True
save_evidences = True

[SLAAC protection]
active = True
save_evidences = True

[NDP protection]
active = True
save_evidences = True
check_ndptable_on_start = True
check_na_spam_each = 60
check_na_spam_max_packets = 10

[IPV6 protection init]
active = True
save_evidences = True

[DHCPV6 protection]
active = False
save_evidences = False

[NetBios protection]
active = False
save_evidences = False
keep_packets_cache = 60

